.card{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.thumbnail{
    margin-right: 1rem;
}

.info{

}

.releaseYear{
    font-weight: normal;
}

.stats{
    margin: .25rem 0;
}

.certication{
    font-weight: bold;
    font-size: larger;
}